/* font-family */
@import url('https://fonts.googleapis.com/css2?family=Damion&family=Klee+One:wght@600&family=Rubik:wght@500&display=swap');

.logo {
  margin: 50px 50px;
  font-family: 'Damion', cursive;
  text-align: center;
}

.logo img {
  padding-right: 10px;
}

.logo h1 {
  font-size: 50px;
}

.jumbo-picture {
  /* background-image: url(https://www.purina.co.uk/sites/default/files/2020-12/Understanding%20Your%20Cat%27s%20Body%20LanguageHERO.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  width: 200;
  height: 560px;
  border-radius: 15px;
  background-color: #f9dcc4;
  /* opacity: 0.6; */
  }

.message {
  background-color: #f5ebe0;
  border-radius: 15px;
}

.message > h4 {
  padding-top: 5px;
  text-align: center;
  font-size: 30px;
  color: #f8961e;
  font-family: 'Rubik', sans-serif;
}

.message > h3 {
  padding-bottom: 40px;
  text-align: center;
  font-size: 50px;
  color:#ae2012;
  font-family: 'Rubik', sans-serif;
}

.message > img {
  margin: auto;
  display: block;
  width: 15%;
}

.message2 p {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
  color: #9c6644;
  font-weight: 800;
  font-size: 18px;
  font-family: 'Klee One', cursive;
}

.info p, h2 {
  text-align: center;
  color: #8a817c;
  padding: 2px;
  font-size: 20px;
  font-family: 'Klee One', cursive;
}

.info {
  text-align: center;
}

.btn {
  margin: 50px;
}
.fcc-btn {
  margin: 50px;
  background-color: #ff9505;
  color: white;
  font-weight: 500;
  padding: 15px 25px;
  text-decoration: none;
  border-radius: 20px;
}

footer div{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}
